.about {
  &__wrapper {
    @extend %flex-row-sb;
    flex-wrap: nowrap;

    @include onMobile {
      flex-direction: column;
    }
  }

  &__info {
    max-width: 584px;
    margin-right: 40px;

    @include onMobile {
      margin-right: 0;
      text-align: center;
    }
  }

  &__title {
    margin-bottom: 25px;
  }

  &__text {
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    color: $c-text-gray;
  }

  &__links {
    @extend %flex-row-sb;
    height: 44px;
    width: 220px;
    min-width: 180px;
    margin-top: 40px;
    align-self: flex-end;
    background-color: $c-white-50;
    border-radius: 22px;

    @include onMobile {
      align-self: center;
    }
  }

  &__link {
    width: 50%;
    height: 100%;

    font-size: 12px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    line-height: 44px;
    border-radius: 22px;
    color: $c-dark-blue;
    background-color: transparent;

    @include hover-2(background-color, $c-pink-hover, color, $c-white);

    &--active {
      color: $c-white;
      background-color: $c-pink-hover;
    }
  }
}
